  html, body, #reactContainer, .so-calendar{
  height : 100%;
  box-sizing: border-box;
  font-family: Lato;
  background-color: #FFF9F4;
}

.so-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  height: 604px; // 600px + border I think
  width: 100%;
  overflow: hidden;
  //margin: @calendar-padding;
  position: relative;
}

.controls {
  margin: 20px 0px;
}

.direction-btn {
  margin: 0px 20px;
  cursor: pointer;
  color: #5E4B56;
  &:hover {
    color: #A690A4;
  }
}

.dayCell {
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 30%;
  height: 90%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, 0%);
}
