
html, body, #reactContainer, .so-calendar{
  height : 100%;
  box-sizing: border-box;
  font-family: Lato;
  background-color: #FFF9F4;
}

.so-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin: 20px 0px;
}

.direction-btn {
  margin: 0px 20px;
  cursor: pointer;
  color: #5E4B56;
  &:hover {
    color: #A690A4;
  }
}

// Desktop
body {
  font-size: 1.5rem;
}

// Tablet
@media (max-width: 1024px) {
  body {
    font-size: 1.25rem;
  }
}

// Mobile Phone
@media (max-width: 425px) {
  body {
    font-size: 1rem;
  }
}
