.day {
  height: 100%;
  width: 100%;
  background-color: #FFECDD;
  color: #5E4B56;
  border: 2px solid #A690A4;
  border-radius: 15px;

  &--nsfw-blocked {
    background-color: #FCB5B5;
  }

  &__content {
    padding: 0.5em;
    height: 100%;
  }

  &__note {
    //display: flex;
    //flex-direction: column;
    //height: ~"calc(100% - 100px)";
    //justify-content: center;
    font-size: 1em;
    font-family: Handlee;
  }

  &__label {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}
